.User {
  background-color: #12002b;
  color: white;
  padding-block: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    h1 {
      text-align: center;
      font-size: 2em;
    }
    button {
      border-color: #00bc77;
      background-color: #00bc77;
      color: #fff;
      font-weight: bold;
      padding: 10px;
      border-bottom-right-radius: 2px solid #00bc77 0;
    }
  }
  .user-info {
    background-color: white;
    color: #12002b;
    margin-bottom: 2rem;
    p {
      text-align: center;
      margin: 0;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 1rem;
      label {
        display: inline-block;
        width: 79px;
      }
      input {
        color: #12002b;
        border: 1px solid lightgray;
        border-radius: 2px;
        padding: 4px;
      }
      .label-input {
        display: flex;
        gap: 5px;
      }
      .readOnly {
        background-color: rgb(236, 234, 234);
      }

      button {
        border: none;
        background-color: #00bc77;
        color: white;
        padding: 5px 40px;
        border-radius: 2px;
      }
    }
    .cancel-button {
      position: relative;
      left: 150px;
      bottom: 43px;
      border: none;
      background-color: #00bc77;
      color: white;
      padding: 5px 40px;
    }
  }
  ul {
    list-style-type: none;
    width: 80%;
    margin: auto;
    padding: 0;
  }
}
