.sectionInfo {
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      flex: 1 1 0;
      width: 0;
      padding: 40px;
      img {
        width: 100px;
        border: 10px solid #00bc77;
        border-radius: 50%;
        padding: 1rem;
      }

      p {
        text-align: center;
        margin: 0;
      }
    }
  }
}
@media (max-width: 767px) {
  .sectionInfo {
    ul {
      flex-direction: column;
      align-items: center;
      li {
        width: initial;
      }
      h3 {
        text-align: center;
      }
    }
  }
}
